<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="180x180" href="/img/icons8.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>{{ description }}</p>
        <img class="potrait" src="/img/Purple Modern Happy Navratri Your Story.jpg" alt="">
    </div>
    {{>footer}}
</body>


</html>